<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone1"
        tools:targetApi="31">
        <activity
            android:name=".Activity.RescueCallingList"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.Done_Evaluated"
            android:exported="false" />
        <activity
            android:name=".Activity.Rescue_Evaluate"
            android:exported="false" />
        <activity
            android:name=".Activity.Processing"
            android:exported="false" />
        <activity
            android:name=".Activity.ConfirmLocation"
            android:exported="false" />
        <activity
            android:name=".Activity.HelpFriends"
            android:exported="false" />
        <activity
            android:name=".Activity.CallForRescue"
            android:exported="false" />
        <activity
            android:name=".Account.Intro"
            android:exported="false" />
        <activity
            android:name=".Activity.UpdateRole"
            android:exported="false" />
        <activity
            android:name=".Activity.UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".Account.PasswordChanged"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCxTUngn0mwDNeFZYz-WtqavuykNLzhx8Y" />

        <activity
            android:name=".Account.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".Account.Login"
            android:exported="false" />
        <activity
            android:name=".Account.Register"
            android:exported="false" />
        <activity
            android:name=".Account.Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>